*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    color: rgb(94, 79, 62);
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    margin-top: 10px;
}

.title h1 {
    font-size: 50px;
}

.title p {
    font-size: 20px;
    margin: 5px;
    margin-bottom: 40px;
}

.forum-singup {
    border: 5px solid rgb(236, 205, 167);
    border-radius: 40px;
    background-color: rgb(216, 180, 136);
    font-size: 18px;
    padding: 20px 0 20px 0;
    margin: 0 200px 0 200px;
    direction: ltr;
    text-align: center;
    justify-items: center;
}

.input-row {
    display: flex;
    margin: 0 0 8px 0;
}

.input-row input {
    background-color: aliceblue;
    border: 5px solid aliceblue;
    border-radius: 3px;
    inline-size: 190px;
    padding: 2px;
    height: auto;
    direction: rtl;
    margin: 0 0 0 3px;
}

.input-row label {
    border: 5px solid aliceblue;
    background-color: aliceblue;
    text-align: center;
    font-weight: 600;
    inline-size: 100px;
}

.input-row #first-input {
    border-radius: 3px 10px 3px 3px;
}

.input-row #first-label {
    border-radius: 10px 3px 3px 3px;
}

.input-row .middle {
    border-radius: 3px;
}

.input-row #last-input {
    cursor: pointer;
    border-radius: 3px 3px 13px 13px;
    font-size: 18px;
    color: rgb(94, 79, 62);
    inline-size: 300px;
    box-shadow: 3px 8px 4px #888888;
    height: auto;
    font-weight: 900;
    margin: 0 0 10px 0;
}

.forum-singup a {
    display: block;
    color: brown;
    text-decoration: none;
    direction: rtl;
}

.input-row #last-input:hover {
    background-color: rgb(211, 218, 224);
    border: 5px solid rgb(211, 218, 224);
    box-shadow: none;
}

.input-row #last-input:active {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 255, 255);
    box-shadow: none;
}

.forum-singup a:active {
    color: #fff;
}

@media (max-width: 800px) {
    .forum-singup {
        margin: 0 50px 0 50px;
    }
}