@import "variables";
@import "mixins";

.section-about {
    padding-top: 15rem;
    padding-bottom: 26rem;
    margin-top: -20vh;
    background-color: $color-grey-light-1;

    @include respond(tab-port) {
        padding: 20rem 0;
    }

    .row {
        @include respond(tab-port) {
            max-width: 50rem;
            padding: 0 3rem;
        }

        @include clearfix;

        max-width: $grid-width;
        margin-left: 6rem;
        margin-right: 15rem;

    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }

        @include respond(tab-port) {
            width: 100% !important;
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;
        }
    }

    .composition {
        position: relative;
        padding-top: 5rem;

        &__photo {
            width: 55%;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
            border-radius: 2px;
            position: absolute;
            @include default-transition();
            outline-offset: 2rem;

            &--p1 {
                left: 0;
                top: -2rem;
            }

            &--p2 {
                right: 0;
                top: 2rem;
            }

            &--p3 {
                left: 20%;
                top: 10rem;
            }

            &:hover {
                outline: 1.5rem solid $color-primary;
                transform: scale(1.2) translateY(-.5rem);
                box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
                z-index: 20;
            }
        }

        &:hover &__photo:not(:hover) {
            transform: scale(.95);
        }
    }

    .paragraph {
        font-size: 1.6rem;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
}