@import "variables";
@import "animations";

.heading-primary {
    color: $color-grey-dark;
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1s ease-out;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    @include gradient-text($color-title-light, $color-title-dark);
    
    text-transform: uppercase;
    font-size: 3.5rem;
    text-align: center;
}

.heading-tertiary {
    font-size: 1.8rem;
    color: $color-grey-dark;
}