$color-primary: #55c57a;
$color-primary-light: #a2ff91;
$color-primary-dark: #1aae7d;
$color-title-light: #63da8b;
$color-title-dark: #197b55;
$color-white: #fff;
$color-green: #63da8b;
$color-black: #000;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-dark: #777; 
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-3: #333;

// Breakpoints
$default-font-size: 1.6rem;
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 6rem;
$breakpoint-phone: 37.5em;
$breakpoint-tab-port: 56.25em;
$breakpoint-tab-land: 75em;
$breakpoint-big-desktop: 112.5em;