@import "mixin";

@media (max-width: 600px) {
 .container {
  .container-header {
   .container-header__nav {
    @include flex-responsive;
   }
  }

  .container-footer {
   @include grid-responsive;

   .copyright {
    grid-area: logo;
   }

   .links-1 {
    grid-area: links-1;
   }

   .links-2 {
    grid-area: links-2;
   }
  }
 }

 .products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }
}