$p-color: #003866;
$h-color: #0f273b;
$body-bg: #ffffff;
$main-bg: #ffffff;
$container-bg: #c1e0fc;
$container-sections-bg: #75a9d6;
$header-bg: #2c3e50;
$header-text: #fff;
$forum-input-bg: #f0f8ff;
$section-bg: #598ab6;
$footer-bg: #2c3e50;
$getstart-bg: rgb(216, 180, 136);
$getstart-border: rgb(236, 205, 167);
$forum-last-input-text-shadow: #888888;
$forum-last-input-text: rgb(94, 79, 62);
$forum-last-input-hover-bg: rgb(211, 218, 224);
$forum-last-input-active-bg: rgb(255, 255, 255);
$forum-a-color-active: #fff;
$forum-a-color-hover: #93d9ff;
$forum-a-color: rgb(217, 244, 255);
$footer-text: #fff;
$footer-link: #3498db;
$product-bg: #2368a8;
$product-btn-bg: #76bbfc;
$product-price: #baddff;
$cart-item-bg: #104a71;
$cart-item-text: #99bbd2;